
<script>
  $(function () {
    $('#job_format_').children('option[value=json]').remove();
  });
</script>

<%# faking a param to get control of the layout, so need to close the divs we enter with %>
</div></div>

<div class="form-group">
  <label class="col-sm-2">
    <b>Limit to Resource (optional):</b>
  </label>

  <div class="col-sm-9">
    <%= render_aspace_partial :partial => "physical_carriers_report/resource_linker", :locals => {:form => form} %>
  </div>
</div>

<hr/>

<div class="form-group">
  <label class="col-sm-9">
    <b>Select one or more subjects to match on:</b>
  </label>
</div>

<% AppConfig[:nla_physical_carriers_report_subjects].each do |subject| %>
  <div class="form-group">
    <div class="col-sm-2"></div>

    <label class="col-sm-2">
      <%= subject %>
    </label>

    <div class="col-sm-7">
      <input id="job_job_params_subject-<%= subject %>_" type="checkbox" name="job[job_params][subject-<%= subject %>]" checked="checked">
    </div>
  </div>
<% end %>

<hr/>

<div class="form-group">
  <label class="col-sm-9">
    <b>Select one or more repositories to search:</b>
  </label>
</div>

<% @repositories.each do |repo| %>
  <div class="form-group">
    <div class="col-sm-2"></div>

    <label class="col-sm-2">
      <%= repo.repo_code %>
    </label>

    <div class="col-sm-7">
      <input id="job_job_params_repo-<%= repo.id %>_" type="checkbox" name="job[job_params][repo-<%= repo.id %>]" checked="checked">
    </div>
  </div>
<% end %>

<hr/>

<div><div>
